# Node.js
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
venv/
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Database
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/logs/*
!backend/logs/.gitkeep

# App Specific
.ollama/
uploads/*
!uploads/.gitkeep
pdfs/*
!pdfs/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
backend/templates/*
!backend/templates/.gitkeep